{% extends 'base.html.twig' %}

{% block title %}Форум{% endblock %}

{% block body %}
    <h1>Список постов</h1>

{% for post in posts%}

    <span>{{ post.headerPost }}</span><br>
    <span>{{ post.publicationAt | date('Y-m-d, h-i-s') }}</span><br>
    <span>{{ post.getCollapsedPost }}</span>
    <a href = "{{ path('post', {'id': post.id}) }}">Читать дальше</a><br>
    <br>

{% endfor %}

{% endblock %}
