{% extends 'base.html.twig' %}

{% block title %}Спасибо за сообщение{% endblock %}

{% block body %}
    <div class="col-sm-10 offset-sm-2">
        <a href="/">Вернуться на главную страницу</a>
    </div>

    <h1>Ваш пост добавлен!</h1>
{% endblock %}


